{{!-- just a basic layout of plant page, once displayed we can style it more --}}
<figure class = "image is-square">
    <img src="/public/images/{{plant.fileName}}">
</figure>
<div class="box">
    <h1>{{plant.common-name}}</h1>
    <h2>{{plant.latin-name}}</h2>
</div>

<div class="box">
    <p>{{plant.description}}</p>
</div>

<div class="box">
    <p>This plant reaches maturity in {{plant.season}}</p>
</div>