{{!-- just a basic layout of plant page, once displayed we can style it more --}}
<!--save button-->
  <button class="save-button" id="save" data-id={{plant.id}}>Save</button>



<figure class = "image is-square">
    <img src="/images/{{plant.fileName}}">
</figure>
<div class="box">
    <h1>{{plant.common-name}}</h1>
    <h2>{{plant.latin-name}}</h2>
</div>

<div class="box">
    <p>{{plant.description}}</p>
</div>

<div class="box">
    <p>This plant reaches maturity in {{plant.season}}</p>
</div>
<script src="/js/plant.js"></script>