{{!-- just a basic layout of plant page, once displayed we can style it more --}}
<!--save button-->
{{!-- <figure class = "image is-4by3">
    <img src="/images/{{plant.fileName}}">
</figure>
<div class="box">
    <h1>{{plant.common-name}}</h1>
    <h2>{{plant.latin-name}}</h2>
</div>

<div class="box">
    <p>{{plant.description}}</p>
</div> --}}

<div class="card plantCard">
  {{!-- <div class="card-image"> --}}
    <figure class="image plantImage">
      <img src="/images/{{plant.fileName}}" alt="Plant image">
    </figure>
  {{!-- </div> --}}
  {{#if loggedIn}}
  <div class="gardenButton">
    <button class="button is-success save-button" id="save" data-id={{plant.id}}>Add to My Garden</button>
  </div>
  {{/if}}
    <div class="card-content">
        <div class="media-content">
            <p class="title is-4 plantNames">Common name: {{plant.common_name}}</p>
            <p class="subtitle is-6 plantNames">Latin name: {{plant.latin_name}}</p>
            <br>
        </div>
        <div class="content">
            {{plant.description}}
        <br>
        <br>
        <p>{{plant.common_name}} plants reach maturity in {{plant.season}}.</p>
        </div>
    </div>
</div>

{{!-- <div class="box">
    <p>This plant reaches maturity in {{plant.season}}.</p>
</div> --}}


<script src="/js/plant.js"></script>